{% extends "team/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Ultime foto{% endblocktrans %}{% endblock %}

{% block content %}
    
    <h2>{% trans "Ultime foto" %}</h2>
    
    {% if user.is_authenticated %}
        Guarda solo <a href="{% groupurl photos_yours group %}">le tue foto</a>.
    {% endif %}
    
    {% if photos %}
    {% autopaginate photos %}
        <div class="thumb-row clearfix">
        {% for photo in photos %}
        <div class="gallery-photo-thumb">
            <a href="{% groupurl photo_details group id=photo.id %}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a><br />
            from <a href=".">{{ photo.member.username }}</a><br />
            
            <a href="{% url race-details photo.pool_set.all.0.content_object.id %}">
            {{ photo.pool_set.all.0.content_object.nome|truncatewords:1 }}</a><br/>
            
            <a href="{% groupurl photo_details group id=photo.id %}#photocomments">{% get_comment_count for photo as commentcount %} {{ commentcount }} Comments</a><br />
            {% blocktrans with photo.view_count as view_count %}Viewed {{ view_count }} times{% endblocktrans %}
        </div>
        {% endfor %}
        </div>
        {% paginate %}
    {% else %}
        <p>{% trans "Nessuna foto trovata." %}</p>
    {% endif %}
    
{% endblock %}
