<h2>Informazioni sulla squadra</h2>

<p>
La <strong>A.S.D. TRA LE RIGHE</strong>, associazione sportiva dilettantistica, nasce a ROMA <strong>nell’aprile 2006</strong> per iniziativa di un gruppo di soci con l’obiettivo di dedicarsi a vari sport.
</p>
<p>
Tra cui spicca l’atletica o meglio il podismo amatoriale; infatti lo spirito non è certamente quello agonistico ma piuttosto quello di un gruppo di amici con una passione in comune da trasCORRERE insieme.
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/sport.jpg" alt="sport" />
</p>

<p>
Il <strong>filo conduttore</strong> è quindi lo stesso che pochi mesi prima aveva dato alla luce la Libreria Bistrot TRA LE RIGHE situata a ROMA in Viale Gorizia, 29 che è anche la sede sociale dell’ASD TRA LE RIGHE.
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/sede_sociale.jpg" width="400px"  alt="sede sociale tra le righe" />
</p>

<p>
L’associazione sportiva parte con un numero esiguo di atleti che si contano sulla punta delle dita, una <strong>decina</strong> il primo anno a cui se ne aggiungono <strong>cinque</strong> il secondo.
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/Immagine2_ppt.jpg" width="400px" alt="2006" />
</p>

<p>
La passione è tanta, gli amici pure e ad inizio <strong>2008</strong> si raddoppia raggiungendo quota 30.
Certo sono numeri che fanno sorridere nell’ambiente tanto che la frase di rito al ritiro pettorali delle varie gare è:
    <ul>
    <li>“Società?”</li>
    <li>“Tra le righe!”</li>
    <li>“TRA LE CHEEEEEEEEE?!”.</li>
    </ul>
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/Immagine1_ppt.jpg" width="400px" alt="2008" />
</p>

<p>
Le gare disputate sono sia a livello regionale che nazionale con qualche puntata internazionale.
</p>
<p>
La distanza preferita dalla maggior parte degli atleti rimane la 10km anche se la mezza maratona comincia a coinvolgere il gruppo dei migliori;.
</p>
<p>
Si registrano cmq anche presenze su distanze maggiori che culminano con l’esordio al PASSATORE (100km).
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/Immagine3_ppt.png" width="400px" alt="passatore" />
</p>

<p>
    <ul>
    Oltre alle classiche cittadine:
    <li>La Corsa di Miguel (10km)</li>
    <li>la ROMA-OSTIA (21km)</li>
    <li>la Maratona di ROMA (42km)</li> 
    </ul>
</p>
<p>
l’associazione sportiva TRA LE RIGHE corre molte delle gare che sostengono una causa sociale quali ad esempio:
    <ul>
    <li>RACE FOR THE CURE</li> 
    <li>BLOOD RUNNER.</li>
    </ul>
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/foto_R4TC_2011.JPG" width="400px" alt="2008" />
</p>

<p>
L’associazione sostiene le seguenti onlus:
    <ul>
    <li>AMICI di HUAYCAN CF 97325810584</li> 
    <li>Associazione VIC/Volontari In Carcere  CF 97112380585</li> 
    <li>SPES contra SPEM CF 04201901008</li> 
    </ul>
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/Amici_Huaycan.jpg" width="300px" alt="Amici Huaycan" />
    <img src="{{ STATIC_URL }}img/tralerighe/spea_contra_spem.jpg" width="300px" alt="SPES contra SPEM" />
</p>

<p>
Nel <strong>2009</strong> nascono:
    <ul>
    <li>il <strong><a href="http://capooti.webfactional.com/">SITO WEB</a></strong>  raggiungibile anche dalla home page del sito della omonima LIBRERIA BISTROT </li>
    <li>il <strong>CALENDARIO</strong> sociale che riporta le foto dei successi dell’anno precedente, tutte le gare consigliate e i compleanni degli atleti</li>
    <li>l’<strong>ARRANCABIRRA</strong> riunione in sede sociale per condividere i risultati e festeggiare i compleanni</li>
    </ul>
</p>
<p>
Il numero di atleti si stabilizza sui <strong>QUARANTADUE</strong>, come i km della distanza regina, la MARATONA!
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/copert_Kalen.jpg" width="400px" alt="2008" />
</p>

<p>
Il <strong>2010</strong> è l’anno della conferma; grazie al successo delle staffette 12x1h e soprattutto 24x1h l’associazione TRA LE RIGHE è ormai nota nota nell’ambiente.
</p>
<p>
D’altronde schierare 24 atleti diversi conciliando tutte le esigenze dei singoli è già di per sé un grosso risultato,.
</p>
<p>
Se poi a farlo è una società che in totale ne ha meno del doppio vuol dire che la passione comune è il miglior carburante x viaggiare insieme!
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/24x1h_maggio_2011.JPG" width="400px" alt="24x1 ora maggio 2011" />
</p>

<p>
L’anno in corso <strong>2011</strong> non ha precedenti ma forse era lecito aspettarselo avendo iniziato a correrlo da CAPODANNO!
Se il buon giorno si vede dal mattino quello TRA LE RIGHE è iniziato vicino <strong>ZURIGO</strong> il primo giorno dell’anno e non mostra segni di tramonto.
</p>

<p style="text-align:center;display:block;">
    <img src="{{ STATIC_URL }}img/tralerighe/Immagine4_ppt.png" width="400px" alt="Zurigo" />
</p>

<p>
Dopo aver schierato VENTI atleti sia a MIGUEL che alla ROMA-OSTIA solo i VENTI di guerra, purtroppo, hanno impedito la presenza TRA LE RIGHE del deserto del SAHARA.
</p>
<p>
<strong>Domenica 17 aprile 2011 una data da ricordare
ROMA, PADOVA, NIZZA, VIENNA, ANVERSA e MADRID;</strong>
l’associazione è presente in sei eventi di cinque diverse nazioni europee
</p>
<p>
L’associazione sportiva nell’anno in corso si è presentata al via anche in Lombardia, Emilia-Romagna, Abruzzo, Marche, Toscana, Veneto, Basilicata; all’estero, oltre alle già citate Francia, Austria, Svizzera, Spagna e Belgio, l’ASD TRA LE RIGHE ha corso anche in Germania, Lettonia, Lituania, Lussemburgo e Islanda.
<strong>Il dettaglio di tutte le gare è consultabile sul sito sociale.</strong>
</p>
<p>
La nostra passione ci ha portato in giro per <strong>8 regioni italiane e 10 nazioni estere</strong>… e siamo solo a settembre!
</p>
